@use "global.scss";

:root {
  --text-color: #383c3f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
  }
  body {
    background-color: black;
  }
}

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  color: global.$text-color;
}

spacer {
  display: block;
  margin-top: 8%;
}

a.btn,
button.btn {
  padding: 8px 18px;
  border-radius: 6px;
  font-size: 100px;
  text-decoration: none;
  margin: 8px;
}

a.btn.lg,
button.btn.lg {
  font-size: 120%;
}

a.btn.blue,
button.btn.blue {
  background-color: #2194ff;
  border: 1px solid #21afff;
  color: white;
}

div.divider {
  margin: 38px;
  border-top: 1px solid global.$text-color;
}

div.panel {
  color: global.$text-color;
  border: solid 1px #00000033;
  border-radius: 8px;
  box-shadow: 1px 1px 8px #00000033;
  background-color: #ffffff22;
  backdrop-filter: blur(5px);
}

main div.hero {
  width: 60%;
  margin: 16px auto;
  padding: 16px;
  text-align: center;
}

@media screen and (max-width: global.$mobile-width) {
  spacer {
    margin-top: 24%;
  }
  main div.hero {
    width: 80%;
  }
}

main div#scroll-arrow {
  text-align: center;
  font-size: 200%;
  width: 100%;
  position: fixed;
  bottom: 64px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.25s ease-in;
}

main div#scroll-arrow.scroll-arrow-hide {
  opacity: 0;
  visibility: hidden;
  transition:
    visibility 0s 0.25s,
    opacity 0.25s ease-out;
}

main div.hero h1 a {
  color: global.$text-color;
}

p.justify {
  text-align: justify;
  text-justify: auto;
}

main div.hero p.justify {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

main div.hero ul {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: global.$mobile-width) {
  main div.hero p.justify {
    width: 100%;
  }
}

ul.linktree {
  list-style-type: none;
  margin: 0;
  padding: 8px;
  padding-left: 8px;
  width: 30%;
}

ul.linktree li {
  margin: 12px;
  text-align: center;
}

@media screen and (max-width: global.$mobile-width) {
  ul.linktree {
    width: 60%;
  }
  ul.linktree li {
    margin: 12px 0;
  }
}

ul.linktree li a {
  /* Pill button shape */
  text-decoration: none;
  color: white;

  background-color: #4c5053;
  padding: 8px;
  border-radius: 50px;
  box-shadow: 2px 2px 4px #00000066;
  transition-duration: 0.5s;

  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

ul.linktree li a:hover {
  cursor: pointer;
  background-color: #383c3f;
}

div.double-linktree {
  display: flex;
  justify-content: center;
}

div.double-linktree ul.linktree {
  margin: 0;
}

ul.videolist {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
}

ul.videolist li {
  padding: 8px;
}

ul.videolist li a {
  text-decoration: none;
}

ul.videolist li a img {
  width: 250px;
  height: auto;
  border-radius: 8px;
}

ul.videolist li a span {
  display: block;
  color: global.$text-color;
  font-size: 120%;
}

img.pixelart {
  image-rendering: pixelated;
}
